<h1>Profiles#edit</h1>
<p>Find me in app/views/profiles/edit.html.erb</p>
<div class="profile-entry">

	<div class="profile-image-div">
		<%= image_tag("face.jpg", height: '125', width: '125') %>
	</div>

	<div class="profile-text">
		<h3 class="title">Jacob Thomason</h3>
		<p>CEO</p>
		<p>Rentpost</p>
		<p>jacob@thomason.xxx</p>
		<p>706.555.5555</p>
	</div>
	
	<div class="profile-socmed-div">
		<ul class="profile-ul" >
			<li class="profile-socmed"><i class="fa fa-linkedin fontaweplus"></i></li>
			<li class="profile-socmed"><i class="fa fa-twitter-square fontaweplus"></i> </li>
			<li class="profile-socmed"><i class="fa fa-dribbble fontaweplus"></i></li>
			<li class="profile-socmed"><i class="fa fa-behance-square fontaweplus"></i></li>
			<li class="profile-socmed"><i class="fa fa-codepen fontaweplus"></i></li>
			<li class="profile-socmed"><i class="fa fa-github-square fontaweplus"></i></li>

		</ul>
	</div>
	
	<div class="profile-label-div">
		<ul class="profile-ul">
			<li class="profile-label"><span class="label label-default2">html</span></li>
			<li class="profile-label"><span class="label label-default2">css</span></li>
			<li class="profile-label"><span class="label label-default2">php</span></li>
			<li class="profile-label"><span class="label label-default2">symphony</span></li>
			<li class="profile-label"><span class="label label-default2">git</span></li>
			<li class="profile-label"><span class="label label-default2">SASS</span></li>
			<li class="profile-label"><span class="label label-default2">javascript</span></li>
			<li class="profile-label"><span class="label label-default2">AWS</span></li>
		</ul>
	</div>

</div>


