<div class="text-center skills-dropdown">
 <div class="btn-group">
	<div class="dropdown">
	  <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
	    Skills
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

		<% @skills.each do |s| %>	
	    	<li role="presentation"> <%= link_to s.skill_name, skill_path(:id => s.id), :method => :get  %> </li>
		<% end %>
	  </ul>
	</div>
  </div>
</div>

 <%= render "profile" %>