
<% week =  DateTime.now + 7  %>
$(document).ready(function() {

	$(document).on('click', '.more-span', function() {
		console.log($(this));
		var parContainer = $(this).closest(".event");
		var	moreP = parContainer.find(".descript-init-visible");
		var lessP = parContainer.find(".descript-init-hidden");
		moreP.toggle();
		lessP.toggle();
	});

	$(document).on('click', '.less-span', function() {
			var parContainer = $(this).closest(".event");
			var	moreP = parContainer.find(".descript-init-visible");
			var lessP = parContainer.find(".descript-init-hidden");
			moreP.toggle();
			lessP.toggle();
	});

	var googleAPI = "https://www.googleapis.com/calendar/v3/calendars/il372jv732jc51eia3mpk49mn4@group.calendar.google.com/events?";
	var googleOptions = {
		maxResults: 7,
		orderBy: "startTime",
		singleEvents: true,
		timeMax: "<%= week.to_formatted_s(:iso8601) %>",
		timeMin: "<%= DateTime.now.to_formatted_s(:iso8601) %>",
		key: "AIzaSyDWOPDecL_CWYy-OFphlX3GAtnn6v-ch2g"
	};
	function displayEvents(data) {
		var eventHTML = '<div>';
		$.each( data.items, function (i, event){
			eventHTML += '<div class="event">';

			//datetime
			if (event.start.dateTime) {		
				var d = new Date (event.start.dateTime);
				var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
				var hour = d.getHours();
				var revisedHour
				var p = ""
				if ( hour > 12 ) {
					revisedHour = hour - 12 ;
					p = "pm"
				} else {
					revisedHour = hour;
					p = "am"
				}
				var min = d.getMinutes();
				var revisedMin;
				if (min < 10 ) {
					revisedMin = "0" + min;
				} else {
					revisedMin = min;
				}

				var eventDateTime = '<span class="event-datatime">|   ' + months[d.getMonth()] + ' ' + d.getDate() + ' @ ' + revisedHour + ':' + revisedMin + p +'</span>';
			} else if (event.start.date) {
				var d = new Date (event.start.date);

				var endDate1 = new Date (event.end.date);
				endDateN = endDate1.getDate();
				console.log(endDateN);
				endDateN2 = endDateN - 1;
				console.log(endDateN2)
				endDate2 = new Date (endDate1.setDate(endDateN2));
				console.log(d)	
				console.log(endDate2)				

				if (+d == +endDate2){
					var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
					eventDateTime = '<span class="event-datatime">|   ' + months[d.getMonth()] + ' ' + d.getDate() + '</span>';
				} else {
					var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
					eventDateTime = '<span class="event-datatime">|     ' + months[d.getMonth()] + ' ' + d.getDate() + '-' + endDate2.getDate() + '</span>';

				}
			} else {
				eventDateTime = "";
			}

			//event title
			if (event.htmlLink){
				eventHTML += '<h2 class="event-title"><a href="' + event.htmlLink + '"target="_blank">' + event.summary + ' </a> ' + eventDateTime + '</h2>';
			} else {
				eventHTML += '<h2>' + event.summary + eventDateTime + '</h2>';
			}
	
			//location
			if (event.location) {
				eventHTML += '<p class="event-deets"><span class="event-deets-heading">Location:</span> ' + event.location + '</p>';
			}
			if (event.description) {
				descriptArray = event.description.split(" ");
				shortDescriptArray = event.description.split(" ", 12);
				if (descriptArray.length > 12) {
					moreSpan = '... <span class="more-span"> &lt;more&gt; </span>';
					lessSpan = '<span class="less-span"> &lt;less&gt; </span>';
				} else {
					moreSpan = "";
					lessSpan = "";
				}
				eventHTML += '<p class="descript-init-visible event-deets"> <span class="event-deets-heading">Description:</span> ' + shortDescriptArray.join(" ") +  moreSpan + ' </p>';
				eventHTML += '<p class="descript-init-hidden event-deets"> <span class="event-deets-heading">Description:</span> ' + event.description + lessSpan + ' </p>';

			}
			eventHTML += '</div>';


		});
		eventHTML += '</div>';
		$("#events").html(eventHTML);
	}
	$.getJSON(googleAPI, googleOptions, displayEvents);




});	


