<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hi, <%= @user.first_name %>!</h1>
    <p>
      You were mentioned in a comment.<br>
    </h2>
    <h3>
      <%= @comment.user.first_name + " " + @comment.user.last_name + ": " %>
    </h3>
    <p>
      <%= @comment.comment_content %>
    </p>
    <p>
      To view the WhiteBoard, just follow this link: <%= @url %>.
    </p>
  </body>
</html>