
@import "bootstrap";
@import "bootstrap-sprockets";


$main-color: #00a1dd;
//$main-color: #7CC0CB;
$secondary-color: #707070;
$tertiary-color: #ccc;
$four-athens-navy: #002143;
$four-athens-blue: #00a1dd;
$four-athens-sky: #9dccf0;


@font-face {
    font-family: 'inconsolatamedium';
    src: url('/assets/inconsolata-webfont.eot');
    src: url('/assets/inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/inconsolata-webfont.woff') format('woff'),
         url('/assets/inconsolata-webfont.ttf') format('truetype'),
         url('/assets/inconsolata-webfont.svg#inconsolatamedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-family: inconsolatamedium;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: inconsolatamedium;

}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: #707070;

}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
    letter-spacing: -1px;

  font-size: 1.1em;
  line-height: 1em;
  font-family: inconsolatamedium;

}
a {
  color: inherit;
  &:hover{
    color: $secondary-color;
    text-decoration: none;
  }
}



@media (max-width: 768px) {
  .navlink {
    text-align: center;
  } 
}

.brand-refine {
  height: 50px;
  padding: 5px;
}

.comments{
  border-left: 6px solid #f9f9f9;
  margin-left: 20px;

}

.comment {
margin-left: 20px;

}


.title {
  font-size: 1.4em;
  color: $main-color;
  cursor: pointer;
  margin-bottom: 10px;
}
.writer{
}
.content {
  color: $secondary-color;
  line-height: 1.1em;
    margin-bottom: 10px;

}

.reply {
  color: $main-color;
  float: right;
  text-align: right; 
  cursor: pointer;
 
}
.post{

}

.posted {
  color: $tertiary-color;
  line-height: 0.9em;
  margin-bottom: 25px;
  margin-top: 11px;

}

.posted-comment {
  color: $tertiary-color;
  line-height: 0.9em;
  margin-bottom: 30px;
  margin-top: 11px;

}

.button{
  display: inline-block;
  margin-bottom: 0; // For input.btn
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: transparent;
  border: 0 none;
  white-space: nowrap;
  text-transform: none;
  
  }

  .align-right{
    text-align: right;
    float: right;
      }

.container1{
  width: 70%;
  max-width: 700px;
  margin: auto;
  padding-top: 30px;
}

.new-post {
    font-size: 1.4em;

  color: $four-athens-sky;
  cursor: pointer;


}
.new-post:hover {
    color: $secondary-color;
  }

.initial-post{
  border-top: 1px solid #d8d8d8;
  background-color: #f9f9f9;
  padding: 5px 25px 5px 25px;
  margin-top: 20px;
}

.deleted {
  text-align: right;
  float: right;
  color: $four-athens-sky;

}
.comment-deleted{
  text-align: right;
  float: right;
  color: $four-athens-sky;
  padding-right: 25px;
}

.slotted-container{
  display: none;
}

.fontaweplus{
  font-size: 20pt;
}

.error {
  font-size: 9pt;
}


.socmed{
    display: inline;
}

.profile-ul {
  padding-left: 0px;
  width: 250px;
}

.disabled2 {
  display:none !important;
}
