
@import "bootstrap";
@import "bootstrap-sprockets";




$main-color: #00a1dd;
//$main-color: #7CC0CB;
$secondary-color: #707070;
$tertiary-color: #ccc;
$four-athens-navy: #53677F; // #003056  #002143
$four-athens-blue: #00a1dd;
$four-athens-sky: #9dccf0;


@font-face {
    font-family: 'inconsolatamedium';
    src: url('/assets/inconsolata-webfont.eot');
    src: url('/assets/inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/inconsolata-webfont.woff') format('woff'),
         url('/assets/inconsolata-webfont.ttf') format('truetype'),
         url('/assets/inconsolata-webfont.svg#inconsolatamedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-family: inconsolatamedium;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: inconsolatamedium;

}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: #707070;

}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
    letter-spacing: -1.05px;

  font-size: 1.1em;
  line-height: 1em;
  font-family: inconsolatamedium;

}
a {
  color: inherit;
  &:hover{
    color: $secondary-color;
    text-decoration: none;
  }
}

ul {
  list-style-type: none
}

// 0. Layout

@media (max-width: 768px) {
  .navlink {
    text-align: center;
    cursor: pointer;
  } 
}

.brand-refine {
  height: 50px;
  padding: 5px;
}


// 1. Whiteboard

.newPostTextArea:focus{
  outline: 0;
  box-shadow: 0 0 1px 1px rgba(83, 103, 127, 0.250);

}

.btn{
  border-radius: 0;
}

.btn.active{
  box-shadow: 0 0 2px 2px #53677f;
}

.post-container {
margin-bottom: 40px;
}

.post{
  background-color: #F9F9F9;
  clear: both;
  border-top: 1px solid #d8d8d8;
}
.initial-post{
  background-color: #f9f9f9;
  padding: 5px 25px 5px 25px;
  clear: both;
}

.title {
  font-size: 1.4em;
  font-weight: 600;
  color: $four-athens-navy;
  margin-bottom: 10px;
  letter-spacing: -2px;
}

.writer{

}

.deleted {
  text-align: right;
  float: right;
  color: $four-athens-sky;
}

.content {
  color: $four-athens-navy;
  line-height: 1.1em;
    margin-bottom: 10px;
}

.posted {
  color: $tertiary-color;
  line-height: 0.9em;
  margin-bottom: 25px;
  margin-top: 11px;
}

.comments-wrapper{
  background-color: #f2f8ff;
  border-top: 1px solid #d8d8d8;
}

.comments{
  border-left: 6px solid #d8d8d8;
  margin-left: 25px;
}

.comment {
margin-left: 20px;
margin-right: 20px;
}

.posted-comment {
  color: $tertiary-color;
  line-height: 0.9em;
  margin-bottom: 30px;
  margin-top: 11px;
}


.reply-form {
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;

  width: 100%;
  margin: 0 auto;
  padding-top: 15px;
}
.reply-background-class1{
  background-color: #F9F9F9;
}

.reply-background-class2{
  background-color: #F2F8FF;
}

.reply-txtarea{
  margin-left: 10px;
  float: left;
  border: 0;
  width: -webkit-calc(100% - 110px);
  width: -moz-calc(100% - 110px);
  width: calc(100% - 110px);
  background-color: transparent;
  overflow: hidden;
  color: $four-athens-navy;
}

.reply-txtarea:focus{
  outline: 0;
}
.reply-focus{
  border-top: 3px solid $four-athens-sky;
  border-bottom: 3px solid $four-athens-sky;
}

.reply-submit{
   width: 100px;
   background-color: transparent;
  border: 0;
  color: $four-athens-blue;
 }
 .reply-submit:focus{
  outline: 0;
}
 .reply-submit:hover{
  color: $four-athens-navy;
}






.button{
  display: inline-block;
  margin-bottom: 0; // For input.btn
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: transparent;
  border: 0 none;
  white-space: nowrap;
  text-transform: none;
  
  }

.align-right{
    text-align: right;
    float: right;
      }

.container1{
  width: 70%;
  max-width: 700px;
  margin: auto;
  padding-top: 30px;
}

.new-post {
    font-size: 1.4em;
  color: $four-athens-navy;
  cursor: pointer;
  margin-bottom: 30px;
}

.new-post:hover {
    color: $secondary-color;
  }
.new-post-div{
  margin: 30px;
}






.comment-deleted{
  text-align: right;
  float: right;
  color: $four-athens-sky;
  padding-right: 25px;
}

.slotted-container{
  display: none;
}

.fontaweplus{
  font-size: 20pt;
}

.error {
  font-size: 9pt;
}




.navlink {
    cursor: pointer;
}
.disabled2 {
  display:none !important;
}


/* profile */
/* profile divs*/
.profile-entry {
  clear: both;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding-left: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #d8d8d8;

}
.profile-image-div {
  float: left;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;

}
.profile-text{
  width: 60%;
  float: left;
}

.profile-socmed-div{
  width: 36px;
  float: right;
  margin-top: 20px;
  margin-right: 20px;


}
.profile-label-div {
  clear: both;

}

/* profile elements */
.profile-ul {
  padding-left: 0px;
  display: inline;
  list-style-type: none;


}

.profile-label{
  display: inline;
  padding: 5px;
  color: #ccc;

}

.label-default2 {
  background-color: #ccc;
  font-size: 10pt;
  line-height: 2em;
}

.profile-socmed{
  color: #ccc;
}

.socmed{
    display: inline;
}

@media (max-width: 767px){
  .profile-entry {
    clear: both;
    margin-bottom: 50px;
    width: 100%;
  }
  .profile-text {
    width: 100%;
  }

  .profile-socmed-div{
  width: 100%;
  float: none;
  clear: both;
  margin-bottom: 10px;
  }
  .profile-image-div{
  margin: 20px auto 0 auto;
  }
  .profile-socmed{
    color: #ccc;
    display: inline;

  }
  .profile-ul {
    margin: 0 auto 0 auto;
    list-style-type: none;
  }
}


@media (max-width: 480px){
  .profile-image-div{
    width: 100%;
    text-align: center;
  }

}


.more-span {
  color: $four-athens-sky;
  cursor: pointer;

}
.less-span {
  color: $four-athens-sky;
  cursor: pointer;


}

.descript-init-hidden {
  display: none;
}


// Update Profile
.profile-update-title {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 20px;
  color: $four-athens-navy;
}

.skills-title {
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 20px;
  color: $four-athens-navy;
}
.skill-group{
  max-width: 400px;
  margin-bottom: 20px;
}
.skill-button{
  margin: 5px 10px 5px 10px ;
}

.profile-submit{
  padding: 10px 30px 10px 30px;
  margin-top: 40px;
  margin-left: 20px;
  font-weight: 600;
  font-size: 1.2em;
  color: $four-athens-navy;

}


// Scedules
.schedule-title {
  text-align: left;
  text-decoration: underline;
  font-size: 2em;
}

.event {
  margin-bottom: 15px;
}
.event-title {
  text-align: left;
  margin: 3px;
  font-size: 1.3em;
  font-weight: 600;
  color: $four-athens-navy;
}
.event-datatime {
  text-align: left;
  margin: 3px;
  font-size: 1.0em;
  font-weight: 400;
  color: rgb(153, 153, 153);
}

.event-deets {
  margin: 5px 0 5px 18px;
  color: rgb(153, 153, 153);
}

.event-deets-heading {
  font-weight: 600;
  color: $four-athens-blue;
}
.schedules-name {
  color: $four-athens-navy;
  font-weight: 600;
}
.schedules-description {
  color: $four-athens-blue;
  font-weight: 600;
}
.schedules-datetime {
  color: #999;
}

.schedules-release{
  color: #c0392b;
}

.schedules-signup {
  color: #27ae60;
}

//Admin
.admin-div{
  overflow:auto;
}
.admin-article {
  font-size: 1.6em;
  font-weight: 600;
  color: $four-athens-navy;
  margin-bottom: 10px;
  letter-spacing: -2px;
}
.admin-section {
  font-size: 1.4em;
  font-weight: 600;
  color: $four-athens-navy;
  margin-bottom: 10px;
  letter-spacing: -2px;
}
.admin-name{
  margin: 5px;
  width: 200px;
  font-weight: 600;
  clear: left;
}

.handle{
  cursor: move;
  line-height: 1.8;
}

#skills{
  padding: 10px;
}


//Mentor
.end-time{
  padding-right: 19px;
  padding-left: 19px;
}
.time-slot-submit{
  padding: 12px 12px;
font-size: 14px;
font-weight: normal;
line-height: 1;
color: #555555;
text-align: center;
background-color: #eeeeee;
border: 1px solid #cccccc;
border-radius: 4px;
}
.delete-content{
  color: #c0392b;
}
.delete-content:hover {
  color: #e74c3c;
}

.mentor-title{
  color: $four-athens-navy;
  font-weight: 600;
  font-size: 1.5em;
}
.mentor-description{
  color: $four-athens-blue;
  font-weight: 600;
}
.mentor-current-sheet{
  color: $four-athens-navy;
  font-weight: 600;
  font-size: 1.2em;
}
.mentor-current-description{
  color: $four-athens-blue;
  font-weight: 600;
  font-size: 1.2em;
}

.mentor-current-time{
  color: $four-athens-blue;
  font-weight: 600;
  font-size: 1em;
}
.mentor-mentee-name {
  color: $four-athens-navy;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.2em;
}
.mentor-mentee-name:hover {
  color: $four-athens-blue;
  font-weight: 600;
  font-size: 1.1em;
  text-decoration: underline; 
  line-height: 1.2em;
}
.mentor-pipe {
  color: #ccc;
}

.mentor-slot-available {
  color: #27ae60;
}

.skills-dropdown{
  margin-bottom: 20px;
}